#root {
  text-align: center;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}

body {
  background: #2F3C7E;
  background: -moz-radial-gradient(#000435 0%, #000435 100%);
  background: -webkit-radial-gradient(#000435 0%, #000435 100%);
  background: radial-gradient(#000435 0%, #000435 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1818bd", endColorstr="#35d0f0", GradientType=1);
  padding: 1px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-stretch: condensed;
  font-weight: 200;
  margin: 0;
  font-display: initial;
  text-size-adjust: auto;
  scroll-behavior: smooth;
}

.maincontainer {
  max-width: 100%;
  /* height: 300px; */
  background-color: transparent;
  backdrop-filter: blur(140px);
  overflow-y: scroll;
  padding: 1rem;
}
.swal2-popup {
  z-index: 1000 !important;
}
.break {
  border: 1px solid #fff;
  margin-top: 0.3em;
  margin-bottom: 10px;
  width:100%;
}

.heading2 {
  position: absolute;
  top: 5rem;
  left: 22rem;
}

.maincontent{
  margin-top:5.5rem;
  scroll-snap-type: y mandatory;
}


/* Tablet and above styles */
@media (max-width: 577px) {
  .break {
    border: 1px solid #fff;
    margin-top: 0.3em;
    margin-bottom: 10;
    width: 100%;
  }

  .heading2 {
    position: absolute;
    top: 24rem;
    left: 2rem;
  }
  .maincontent{
    margin-top: 5rem;
    scroll-snap-type: y mandatory;
    padding: 1px !important;
  }
  
}