/* ===================== MAIN CONTAINER ===================== */
.maincontainer {
  width: 100%;
  padding: 2rem 0;
  color: white;
}

/* ===================== HEADING ===================== */
.heading {
  display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    top: 6rem;
    left: 8rem;
    color: #fff;
}

.heading::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #ff8d8d;
  display: block;
  margin-top: 4px;
  transition: width 0.4s ease;
}

.heading:hover::after {
  width: 80%;
}

/* ===================== GLASS CARD ===================== */
.glassCard {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 1rem 1.4rem;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: right 0.4s ease-in-out;
  box-shadow: -2px 0 5px rgba(114, 83, 83, 0.2);
}

.glassCard:hover {
  transform: translateY(-4px);
    box-shadow: rgba(114, 83, 83, 0.25) 0px 15px 25px, rgba(114, 83, 83, 0.20) 0px 5px 10px;
}

/* ===================== ICON WRAPPER ===================== */



.iconWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 8.5rem;
}

.icon-round {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.3s ease;
  backdrop-filter: blur(10px);
}

.icon-round:hover {
  transform: scale(1.15);
  box-shadow: 0 0 15px rgba(255,255,255,0.4);
}

.icon-ln:hover {
  background-color: #0077b5;
}

.icon-gh:hover {
  background-color: #fff;
  color: black;
}

.icon-bb:hover {
  background-color: #1A74ED;
}

/* ===================== FORM ===================== */
input,
textarea {
  width: 100%;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid #fd4c4c;
  color: #fff !important;
  padding: 8px 2px;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid #75aefc !important;
  outline: none;
}

::placeholder {
  color: #eeeeee !important;
}

/* ===================== BUTTON ===================== */
.formbtn {
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 6px !important;
  transition: 0.3s;
}

.formbtn:hover {
  background-color: #00c6ff !important;
  color: black !important;
}

/* ===================== RESPONSIVE ===================== */
@media (max-width: 768px) {


  .heading {
    position: absolute;
    top: 5rem;
    left: 1rem;
    font-size: 1.8rem;
  }

  .icon-round{
  position: relative;
    left: 3rem;
  }
}
