/* MAIN CONTAINER */
.maincontainer {
  padding: 0;
  color: #fff;
}

/* HEADING */
.heading {
  font-weight: 500;
  letter-spacing: 1pt;
  text-decoration: none;
  position: relative;
  top: 1rem;
  left: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.heading::after {
  content: "";
  display: block;
  width: 4px;
  height: 2px;
  background: rgb(255, 143, 143);
  transition: width 0.4s ease;
}

.heading:hover::after {
  width: 80%;
}

/* WRAPPER */
.experienceWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* CARD */
.experienceCard{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:14px;

    padding:1.4rem;

    transition:
        transform .25s ease,
        box-shadow .25s ease,
        border-color .25s ease;

    will-change:transform;
}

.experienceCard:hover{
    transform:translateY(-4px);
    border-color:#4d8eff;
    box-shadow:0 10px 18px rgba(0,0,0,.2);
}

.position {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.company {
  font-size: 1.1rem;
  color: #ff8d8d;
  margin-bottom: 0.6rem;
}

.description {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 768px) {
  .experienceWrapper {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 1.7rem;  
  }

  .position {
    font-size: 1.35rem;
  }
}

/* Small Mobile (≤480px) */
@media (max-width: 480px) {
  .experienceCard {
    padding: .8rem;
  }

  .heading {
    font-size: 1.6rem;
    position: relative;
    top: -1rem;
    left: 0rem;
  }

  .position {
    font-size: 1.25rem;
  }
}